.Main {
  padding: 30px;

  .Title {
    display: flex;

    span {
      font-size: 40px;
      line-height: 95px;
      margin-right: 64px;
    }

    h1 {
      font-size: 64px;
    }
  }

  .Button {
    border-radius: 0;
    font-size: 20px;
    padding: 32px;
  }

  .FileName {
    color: white;
  }
}
